:root {
    --primaryColor: #73B1BF;
    --secondColor: #296B73;
    --curius: #BABF2A;
    --extra: #0e181e;
    --black: #000;
    --white: #fff;
    --primaryFont: 'Lato', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
    background-color: #F7E9FF;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*globales*/
.conteiner {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--primaryFont);
    line-height: 2;
}

h1 {
    font-size: 4.9rem;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

img {
    max-width: 100%;
}

/** Utilidades **/
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.text-aling {
    text-align: center;
}

/*header*/
/*Navegation*/
.conteiner-navegation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    margin-bottom: 4rem;
}

.navegation-nav {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.navegation-logo {
    align-items: center;
}


@media (max-width: 767px) {
    .navegation-logo {
        display: none;
    }

    .navegation-nav {
        display: block;
        margin: 0 auto;
    }
}

.navegation-link {
    padding: 1rem;
    display: block;
    text-align: center;
    font-family: var(--primaryFont);
    font-size: 1.9rem;
    color: var(--black);
    transition: color 0.s;
}

.navegation-link:hover {
    color: var(--curius);
}

/*HOME*/
.conteiner-book {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    .conteiner-book {
        display: flex;
        flex-direction: column;
    }
}
.conteiner-book-image {
    box-shadow: -23px 5px 25px 6px rgba(0, 0, 0, 0.49);
    border-radius: 1.5rem;
    height: 57rem;
    flex-basis: calc(50% - 1rem);
}
.book-quote,
.book-cite {
    font-family: var(--primaryFont);
    font-size: 2.5rem;
    text-align: center;
    line-height: 3rem;
    font-weight: 700;
}
.book-quote {
    color: var(--black);
}
.book-cite {
    color: var(--curius);
}